API_ID="20001238"
API_HASH="25b1a5ac2cba59def7b098370e27e2c9"
BOT_TOKEN="6916111168:AAHuA7X-ncpPWh8RGSQx6FBvnMPPdY_GiOw"
SESSION_STRING="AgExMdYAa6LrZKyqTR7a8r_VYZVOqitUCmvR2OUgpo_piEj0IB0nm4rZkJSEpOa8geye8jkwe8dugDDO4pNfdLOlnhVil7GC-GdaNjQx0o2t4SWHgJSZGN8z8xDGRWz7PPXX3B1bKxlJX91CXjPSoPxYoY_Z0oK_XwAoCgri_N6JCCkj5fk8C3NO-gM_NFn6a8v-wqF_DdYmwIbNNRd3bT0rDOgxLQLtaoilCNmlRrZWEN_F8AXd1dGDIqNYFzOs9ThGaDzXzh41hXXxON350k0y2iBYU-GPLsWj-p2gWIyexd52OiqGwkkTg0LGX9JOg8Il77ZqG7wt2K6nfWFS4K8y1Yl5MgAAAAGcO3tAAQ"
CHAT="-4193012955"
ADMINS="your-admins"
